<!-- ======= Mercadoreno Section ======= -->
<div id="mercadoreno">
    <div class="mercadoreno-container">
      <img src="assets/img/logotipo.png" alt="Logo" class="logo">
      <h2>Bienvenidos a</h2>
      <h1>Mercadoreño Studio</h1>
      <h2>Ayudandote a hacer crecer tu empresa</h2>
      <a href="/nosotros" class="btn-get-started scrollto">Conoce más sobre nosotros</a>
    </div>
</div>

<!-- ======= Services Section ======= -->
<div id="services">
  <div class="container servicios">
    <div class="inicio-title">
      <h2 class="section-title">Servicios</h2>
    </div>

    <h2 class="inicio-sub-title">Revisa nuestros <span>cursos</span></h2>
    <div class="row">
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-html-css.jpg" class="img-fluid rounded" alt="Curso HTML 5 y CSS 3" >
          <h3>Curso de HTML 5 Y CSS 3</h3>
          <p>José Guadrón</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-sketchup.png" class="img-fluid rounded" alt="Curos SketchUp Básico">
          <h3>Curso de SketchUp Básico</h3>
          <p>Daniel Umaña</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-fifa-para-mancos.png" class="img-fluid rounded" alt="Curso HTML 5 y CSS 3" >
          <h3>Curso FIFA 23 para mancos</h3>
          <p>Copete Team</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-sketchup.png" class="img-fluid rounded" alt="Curos SketchUp Básico">
          <h3>Curso de SketchUp Básico</h3>
          <p>Daniel Umaña</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-html-css.jpg" class="img-fluid rounded" alt="Curso HTML 5 y CSS 3" >
          <h3>Curso de HTML 5 Y CSS 3</h3>
          <p>José Guadrón</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-sketchup.png" class="img-fluid rounded" alt="Curos SketchUp Básico">
          <h3>Curso de SketchUp Básico</h3>
          <p>Daniel Umaña</p>
        </div>
      </div>
    </div>
    
    <hr>
    <div class="row">
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-html-css.jpg" class="img-fluid rounded" alt="Curso HTML 5 y CSS 3" >
          <h3>Curso de HTML 5 Y CSS 3</h3>
          <p>José Guadrón</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-sketchup.png" class="img-fluid rounded" alt="Curos SketchUp Básico">
          <h3>Curso de SketchUp Básico</h3>
          <p>Daniel Umaña</p>
        </div>
      </div>
      <div class="curso col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="assets/img/curso/curso-fifa-para-mancos.png" class="img-fluid rounded" alt="Curso HTML 5 y CSS 3" >
          <h3>Curso FIFA 23 para mancos</h3>
          <p>Copete Team</p>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div><!-- End Services Section -->