<div class="container-fluid wraped"  id="header">
    <nav class="container navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="/inicio"></a>
        <img src="assets/img/merc-logo-marvel.png" class="mercadoreno-logo" alt="Company logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactanos">Contáctanos</a>
                </li>
                <!-- Dropdwon-->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Cursos</a>
                        <a class="dropdown-item" href="#">Diplomados</a>
                        <!--<div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="#">Consultoria</a>
                        <a class="dropdown-item" href="#">Soporte</a>
                    </div>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" id="acceder" type="button" href="#">Acceder</button>                  
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" id="registrarse" type="button" href="#">Registrarse</button>
                </li>
            </ul>
        </div>
    </nav>
</div>

