<div class="container start nosotros">
    <div class="quienes-content">
      
       <h2 class="text-center">¿Quienes Somos?</h2>
        <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ad maiores, quisquam repellat voluptate dicta sequi quae adipisci aspernatur, at error delectus 
         doloremque explicabo. Adipisci hic corrupti officiis ipsa. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, quia quasi. Praesentium ex voluptatum 
         eaque enim obcaecati aliquid quasi et reiciendis delectus, est eius necessitatibus cum, quibusdam ab distinctio. Reiciendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
         At ipsam similique alias eius aspernatur repellat consequatur sint voluptatibus! Qui dolore saepe quaerat eos perspiciatis officia, similique porro quo amet quis!
         Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae dolor nemo, amet quae nihil error at. Expedita enim, fugiat delectus, eveniet fuga ipsum obcaecati reprehenderit 
         voluptatibus laborum aliquid perferendis distinctio? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci quasi provident dolores, in, ex fugiat cumque itaque velit 
         praesentium doloremque sed illo possimus rem natus est ad eum. Fugiat, necessitatibus!
        </p>
    </div>
    <hr>
    <div class="mision-content row">
      <div class="mision col-6 d-flex flex-column justify-content-center">
        <h3 class="text-center">Misión</h3>
        <p>
          Somos una empresa enfocada en brindar soluciones integrales para nuestros clientes, de tal forma que podamos ser innovadores en el área tecnológica, servicios de marketing y 
          formación profesional.
        </p>
      </div>
       
      <div class="img-mision col-6">
        <img class="card img-fluid" src="img/sketchupbannner.png" alt="imagenen DE Misión">
      </div>
    </div>
        
    <div class="vision-content row">
      <div class="img-vision col-6">
        <img class="card img-fluid" src="img/comoganarenfifa.png" alt="Imagen de Visión">
      </div>
      <div class="vision col-6 d-flex flex-column justify-content-center">
        <h3 class="text-center">Visión</h3>
        <p>
        Ser una empresa líder en el mercado reconocida por su innovación en la solución de servicios IT siendo integrados con base a objetivos y necesidades con el fin de 
        beneficiar al usuario final.
        </p>       
      </div>
    </div>
  </div>
  <div class="container-fluid valores">
    <div class="container valores">
      <ul class="d-flex flex-row justify-content-between pt-3">
        <li>Compromiso</li>
        <li>Integridad </li>
        <li>Calidad</li>
        <li>Responsabilidad</li>
        <li>Innovación</li>
      </ul>
    </div>
  </div>